.menu-nav {
  background: #f8f9fa;
  padding: 0.25rem !important;
}

.css-1s2u09g-control {
  width: 100% !important;
}

.css-1pahdxg-control {
  width: 100% !important;
}

.nav-pills .nav-link {
  color: inherit !important;
  font-weight: 500;
  font-size: inherit !important;
  background-color: #fff;
  transition: all 0.15s ease;
}

.nav-pills .nav-item{
  margin-bottom: 0 !important;
}

.avatar-reg {
 width: 130px;
 height: 130px;
 
}